.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}

.controls button{
    padding: 1rem;
    border: none;
    background: gray;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

