.kick-pad,
.snare-pad,
.hihat-pad{
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad{
    background: rgb(117, 172, 209);
}

.snare-pad{
    background: rgb(224, 160, 208);
}

.hihat-pad{
    background: rgb(224, 194, 160);
}

.kick-pad.active{
    background: rgb(59, 197, 231);
}

.snare-pad.active{
    background: rgb(218, 58, 178);
}

.hihat-pad.active{
    background: rgb(241, 158, 64);
}


.kick,
.snare,
.hihat{
    display: flex;
}

.pad {
    transition: all 0.5s ease;
}

@keyframes playTrack {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}
